<div class="center jumbotron">
  <h1>Welcome to the Login Counter and other misc nonsense</h1>

  <h2>
    This is the home page for the Login Counter Project!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
