<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>


<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <%= user.login_count %>
    </li>
  <% end %>
</ul>


<%= will_paginate %>
