<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
       
        <%= @user.name %>
      </h1>
      <p>  <%= @user.login_count %> is the amount of times you've logged in! </p>
          </section>
  </aside>
</div>


